@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UbuntuReg';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'UbuntuMed';
  src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'UbuntuBol';
  src: url('./assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

body {
  font-family: "UbuntuReg";
  overflow-x: hidden;
}

.mantine-Switch-track {
  background-color: #1C7ED6;
  border: 2px solid #1C7ED6;
}

.mantine-Checkbox-inner  {
  margin-top: 12px;
  margin-right: 8px;
}